.feedback {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.feedback > div {
  background: #e6eaf0;
  padding: 30px;
  flex: 1 1 320px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
}

.circle {
  width: 70px;
  height: 70px;
  background: #18a0fb;
  border-radius: 50%;
}

.autor {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.2rem;
}

.autor span {
  font-size: 0.8rem;
}
